{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


html, body {
	height: 100%;
	margin:0;
	padding: 0px;
	background-color: black;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
}

#sidebar {
	background-color: black;
	height: 100%;
}

#place-list {
	color: white;
	font-size: 20px;
	margin-left: -30px;
	margin-top: 20px;

}

p {
	color: white;
}

#map {
	height: 100%;
	float: right;
	padding-bottom: 100%;
	margin-top: -350px;
	margin-bottom: -350px;
}

#search{
	padding-top: 20px;

}

li{
	padding-top: 10px;
	padding-bottom: 10px;
}

#boxtext {
	max-width: 100%;

}

li:hover, li:active {
	background-color: red;
	max-width: 100%;
	font-size: 130%;
}